// Colors:
$primary: white;
$secondary: rgb(239, 199, 17);
$tertiary: black;
$greyA: #ddd;
$greyB: #f2f2f2;
$secondaryHover: rgb(204, 194, 89);

// Sizes: 
$ringSizeOuter: 200px;
$ringSizeInner: 124px;

// Indents:
$medium: 20px;
